commands:
    change_to_production:
        command: mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
        ignoreErrors: true
files:
    "/opt/elasticbeanstalk/hooks/appdeploy/post/99_restart_delayed_job.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
            sudo mv /var/app/current/.env.production /var/app/current/.env
            cd /var/app/current/ && sudo php artisan migrate --force
            cd /var/app/current/ && sudo php artisan db:seed --force
